body {
    text-align: center;
    font-size: 300%;
}
#results {
  font-size: 80%;
  text-align: center;
}

@media screen and (min-width: 480px) {
    body {
        text-align: center;
        font-size: 100%;
    }
    label {
      font-size: 200%;
    }
    #results {
      font-size: 225%;
      text-align: center;
    }
}

.ping {
  color: red;
  font-size: 150%;
}

.pong {
  color: blue;
  font-size: 150%;
}

.ping-pong {
  color: purple;
  font-size: 150%;
}

.btn {
  margin: 5%
}

h1 {
  font-weight: bold;
  margin: 5%;
  font-family: "Gloria+Hallelujah";
}

.jumbotron {
  background-image: url(../img/ping-pong.png);
  background-position:bottom;;
  background-size:contain;
  background-color: white;
  color: lightgray;
}

p {
  font-family: "Gloria+Hallelujah";
  font-size: 130%;
}
